/* body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  } */

/* Reset some default margin and padding for body and header/footer */
body, header, footer {
  margin: 0;
  padding: 0;
}

/* Style the header */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #fff; /* Add a border at the bottom of the header */
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align content horizontally */
}

.header-content h1 {
  font-size: 24px;
  margin: 0; /* Remove default margins */
}

.header-content p {
  font-size: 16px;
  margin: 0; /* Remove default margins */
}

/* Style the main content area */
main {
  padding: 20px;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-top: 2px solid #fff; /* Add a border at the top of the footer */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align content horizontally */
}

.footer-content p {
  font-size: 14px;
  margin: 0; /* Remove default margins */
}
